@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}
/* LANDING PAGE */
.landing-page {
  background-color: #FFFFFF;;
  color: black;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-size: calc(10px + 2vmin);
}

.landing-title {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}

.landing-content {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}

.landing-nav {
  grid-column: 8 / span 3;
  grid-row: 6 / span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* AUTH CONTAINER */
.auth-container {
  background-color: #FFFFFF;
  border-radius: 25px;
  grid-column: 7 / -2;
  grid-row: 2 / -2;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}


/* LOG IN FORM  */
.log-in-container {
  background-color: #FFFFFF;
  border-radius: 25px;
  grid-column: 7 / -2;
  grid-row: 2 / -2;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}


/* SIGN UP FORM */
.sign-up-container {
  background-color: #FFFFFF;
  border-radius: 25px;
  grid-column: 7 / -2;
  grid-row: 2 / -2;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

/* ABOUT PAGE  */
.about-page {
  background-color: #FFFFFF;;
  color: black;
  display: grid;
  grid-gap: 1%;
  height: 100vh;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.about-header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 400%;
}

.about-nav {
  grid-column: 2 / span 3;
  grid-row: 8 / span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-focus {
  grid-column: 2 / span 3;
  grid-row: 3 / span 5
}

.about-customize {
  grid-column: 6 / span 3;
  grid-row: 3 / span 5
}

.about-achieve {
  grid-column: 10 / span 3;
  grid-row: 3 / span 5
}



/* HOME PAGE */
.home-page {
  background-color: #FFFFFF;
  grid-gap: 1%;
  color: black;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  font-size: calc(10px + 2vmin);
}

/* HEADER */
.home-header {
  background-color: #FFFFFF;;
  border-radius: 25px;
  grid-column: 1 / -1;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  font-size: calc(10px + 2vmin);
}

.home-title {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  text-align: center;
}

.home-date {
  grid-column: 3 / 10;
  grid-row: 1 / span 2;
  text-align: center;
}

.home-greeting {
  grid-column: 10 / -1;
  grid-row: 1 / span 2;
  text-align: center;
}

/* LEFT */
.home-left {
  background-color: #FFFFFF;;
  border-radius: 25px;
  grid-column: 1 / span 3;
  grid-row: 4 / -2;
  grid-gap: 1%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  font-size: calc(10px + 2vmin);
}

.nav-bar {
  grid-column: 1 / -1;
  grid-row: 1 / span 9;
}

.total-zone-time {
  grid-row: 10 / -1;
}



/* MIDDLE */
.home-middle {
  background-color: #FFFFFF;;
  /* border-radius: 25px; */
  grid-column: 4 / span 9;
  grid-row: 4 / -2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  font-size: calc(10px + 2vmin);
}

/* MARKET */
.market {
  grid-column: 1 / -1 ;
  grid-row: 1 / -1;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: repeat(5, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 100px; */
}

.market-header {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
}

.market-item {
  border-radius: 15px;
  margin-top: auto;
}

/* RIGHT */
.home-right {
  background-color: #FFFFFF;;
  border-radius: 25px;
  grid-column: 13 / -1;
  grid-row: 4 / -2;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  font-size: calc(10px + 2vmin);
}

.home-calendar {
  grid-column: 1 / -1;
  grid-row: 1 / span 6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


/* ZONES IMAGE SPAN */
.zones-container {
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.zones-container h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

.zones-container > div {
  cursor: pointer;
  border-radius: 15px;
  height: 100%;
  background-size: cover;
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all .5s ease-in;
}

.zones-container > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
}


.zones-container > div:nth-of-type(1) {
  grid-column: 1 / 3;
}

.zones-container > div:nth-of-type(6) {
  grid-column: 3 / 5;
}

.zones-container > div:nth-of-type(9) {
  grid-column: 3 / 5;
}

.zones-container > div:nth-of-type(10) {
  grid-column: 1 / 3;
}

.bg1 {
  background: url('./img/bluelaketorii.jpg');
}

.bg2 {
  background: url('./img/giza.jpg');
}

/* ZONES */
/* .container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 75px;
  grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
} */
