body {
  background: #E7E5E5;
}

/* LANDING PAGE */
#landing-page {
  background-color: #282c34;
  height: 100%;
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.test {
  background-color: red;
  size: 10px;
}


