@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}
/* LANDING PAGE */
.landing-page {
  background-color: #FFFFFF;;
  color: black;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-size: calc(10px + 2vmin);
}

.landing-title {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}

.landing-content {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}

.landing-nav {
  grid-column: 8 / span 3;
  grid-row: 6 / span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* AUTH CONTAINER */
.auth-container {
  background-color: #FFFFFF;
  border-radius: 25px;
  grid-column: 7 / -2;
  grid-row: 2 / -2;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}


/* LOG IN FORM  */
.log-in-container {
  background-color: #FFFFFF;
  border-radius: 25px;
  grid-column: 7 / -2;
  grid-row: 2 / -2;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}


/* SIGN UP FORM */
.sign-up-container {
  background-color: #FFFFFF;
  border-radius: 25px;
  grid-column: 7 / -2;
  grid-row: 2 / -2;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

/* ABOUT PAGE  */
.about-page {
  background-color: #FFFFFF;;
  color: black;
  display: grid;
  grid-gap: 1%;
  height: 100vh;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.about-header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 400%;
}

.about-nav {
  grid-column: 2 / span 3;
  grid-row: 8 / span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-focus {
  grid-column: 2 / span 3;
  grid-row: 3 / span 5
}

.about-customize {
  grid-column: 6 / span 3;
  grid-row: 3 / span 5
}

.about-achieve {
  grid-column: 10 / span 3;
  grid-row: 3 / span 5
}



/* HOME PAGE */
.home-page {
  background-color: #FFFFFF;
  grid-gap: 1%;
  color: black;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  font-size: calc(10px + 2vmin);
}

/* HEADER */
.home-header {
  background-color: #FFFFFF;;
  border-radius: 25px;
  grid-column: 1 / -1;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  font-size: calc(10px + 2vmin);
}

.home-title {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  text-align: center;
}

.home-date {
  grid-column: 3 / 10;
  grid-row: 1 / span 2;
  text-align: center;
}

.home-greeting {
  grid-column: 10 / -1;
  grid-row: 1 / span 2;
  text-align: center;
}

/* LEFT */
.home-left {
  background-color: #FFFFFF;;
  border-radius: 25px;
  grid-column: 1 / span 3;
  grid-row: 4 / -2;
  grid-gap: 1%;
  margin-left: 5%;
  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  font-size: calc(10px + 2vmin); */
}

.nav-bar {
  /* grid-column: 1 / -1;
  grid-row: 1 / span 9; */
  display: flex;
  flex-direction: column;
  
}

.total-zone-time {
  /* grid-row: 10 / -1; */
  display: flex;
}



/* MIDDLE */
.home-middle {
  background-color: #FFFFFF;;
  border-radius: 25px;
  grid-column: 4 / span 9;
  grid-row: 4 / -2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  font-size: calc(10px + 2vmin);
}

/* ZONE FORM */
.zone-form {
  grid-column: 1 / -1 ;
  grid-row: 1 / -1;
}

.z-form {
  display: flex;
  flex-direction: column;
}

.zone-form-error {
  color: red;
  font-size: 65%;
}

/* IN ZONE */
.in-zone-div {
  grid-column: 1 / -1 ;
  grid-row: 1 / -1;
}

/* ZONES */
.zones-middle {
  grid-column: 4 / span 9;
  grid-row: 4 / -1;
  display: flex;
  flex-direction: column;
}

/* ZONES IMAGE SPAN */
.zones-container {
  /* box-sizing: border-box; */
  /* margin: 0; */
  /* padding: 0; */
  /* grid-column: 1 / -1; */
  /* grid-row: 1 / -1; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-gap: 10px;  */
  /* display: flex;
  flex-direction: column; */
}

.zones-container h2 {
  font-size: 100%;
  font-weight: 300;
  margin: 10px;
}

.zones-container .completed-zone {
  cursor: pointer;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in;
}

.zones-container .test:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.Barcelona {
  background: url('./img/barcelona.jpg');
  /* background-size: contain; */
}

.BlueLagoon {
  background: url('./img/bluelagoon.jpg');
}

.BlueLakeTorii {
  background: url('./img/bluelaketorii.jpg');
}

.Giza {
  background: url('./img/giza.jpg');
}

.IguazuFalls {
  background: url('./img/iguazufalls.jpg');
}

.LofotenIslands {
  background: url('./img/lofotenislands.jpg');
}

.MachuPicchu {
  background: url('./img/machupicchu.jpg');
}

.NYC {
  background: url('./img/nyc.jpg');
}

.Venice {
  background: url('./img/venice.jpg')
}


/* COLLECTION */
.collection {
  grid-column: 1 / -1 ;
  grid-row: 1 / -1;
}

.collection-region-carousel-header {
  text-align: center;
}

.collection-region-carousel .region .region-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}

.collection-region-carousel .region img {
  width: 50%;
}

.collection-trinket-carousel-header {
  text-align: center;
}

.collection-trinket-carousel .trinket .trinket-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}

.collection-trinket-carousel .trinket img {
  width: 50%;
}



/* MARKET */
.market {
  grid-column: 1 / -1 ;
  grid-row: 1 / -1;
  display: grid;
  /* grid-gap: 5px; */
  grid-template-columns: repeat(12, 1fr) ;
  grid-template-rows: repeat(12, 1fr);
}

.region-carousel {
  grid-column: 2 / 7;
  grid-row: 2 / -2;
}

.region-carousel-header {
  text-align: center;
}

.region-carousel .region-item .region-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  /* margin: .3rem; */
  text-align: center;
  padding: 2rem 0;
  border-color: black;
}

.region-carousel .region-item img {
  width: 45%;
}

.trinket-carousel {
  grid-column: 7 / 12;
  grid-row: 2 / -2;
}

.trinket-carousel-header {
  text-align: center;
}

.trinket-carousel .trinket-item .trinket-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  /* margin: .3rem; */
  text-align: center;
  padding: 2rem 0;
  border-color: black;
}

.trinket-carousel .trinket-item img {
  width: 50%;
}

/* TAGS */
.tags-container {
  grid-column: 1 / -1 ;
  grid-row: 1 / -1;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr) ;
  grid-template-rows: repeat(6, 1fr);
}

.tag-form {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1
}

.tag-list {
  grid-column: 1 / -1;
  grid-row: 3 / -1; 
}



/* RIGHT */
.home-right {
  background-color: #FFFFFF;;
  border-radius: 25px;
  grid-column: 13 / -1;
  grid-row: 4 / -2;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  font-size: calc(10px + 2vmin);
}

.home-calendar {
  grid-column: 1 / -1;
  grid-row: 1 / span 6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


